/storage
/.DS_Store

*.pdf

## LaTeX build/auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.toc
*.vrb
*.dvi
*.xdv
*.ps
*.pdfsync
*.auxlock
*.fot
*.cb
*.cb2
*.lb
*.thm
*.xcp
*.spl

## Glossaries / acronyms
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.loa
*.lol
*.xdy
*.slo
*.sls
*.slg

## Minitoc
*.mtc
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.ptc

## Bibliography (biber/biblatex)
*.bib.bak
*.bbl-SAVE-ERROR

## latexmk / arara
*.latexmk
*.dpth
*.md5
*.synctex

## Package-specific / tooling
_minted*
*.pyg
pythontex-files-*
*.pytxcode
*.synctex.gz.tmp
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

## Temporary/editor swap files sometimes created during compilation runs
*.tmp
*.bak
*~

